@font-face
{
	font-family: "Belgietta";
	src: url(./Font/Belgietta_dafont.ttf);}
body
{
    overflow-x: hidden;
}
.title{
    text-align: center;
    position: fixed;
    left: 35vb;
    h1
    {
        font-family: Belgietta;
        font-size: 50px;
    }
    p
    {
        position: relative;
        text-align: center;
        padding-top: 2vh;
    }
    img
    {
        position: relative;
        border-radius: 50%;
        width: 200px;
    }
    .logo
    {
        width: 50px;
        border-radius: 20%;
    }
    button
    {
        position: relative;
        background: none;
        border: none;
        height: 50px;
    }
}
.instagram-feed {
    position: relative;
    left: 50vw;
    align-content: center;
    flex-wrap: wrap;
  
  }
  .instagram-post {
    width: 350px;
  }
  .instagram-post img {
    border-radius: 3%;
    padding: 1%;
    width: 200%;
    display: block;
  }
  .instagram-post img:hover,button:hover
  {
    transform: scale(1.03);
  }